<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

    {{>navbar}}
    
    <!-- Main Header     -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/image20.jpeg" alt="Het Patel" class="img-fluid" title="AboutMe">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather App</p>
                        <h1>I am a <span class="text_clr">Software Engineer</span></h1>
                        <a href="https://hetkpatel96.github.io/HetPatel_Portfolio/#home" target="_het"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {{>footer}}
</body>
</html>